<% layout("/layouts/boilerplate") %>
    <div class="row mt-2">
        <div class="col-9 offset-1">
            <h2>Edit the page</h2>
            <form method="POST" action="/listings/<%= listings._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <lable id="title" for="title" class="form-label">Title:</lable>
                    <input name="listing[title]" type="text" value="<%= listings.title %>" type="text" class="form-control" required/>
                    <div class="valid-feedback">Looks good!</div>
                   <div class="invalid-feedback">Please provide a title.</div>
                </div>
                <div class="mb-3">
                    <lable id="description" for="description" class="form-label">Description:</lable>
                    <textarea name="listing[description]" type="text" class="form-control" required >
                        <%= listings.description %>
                    </textarea>
                    <div class="valid-feedback">Looks good!</div>
                   <div class="invalid-feedback">Please provide a title.</div>
                </div>
                <div class="mb-3">
                    Original Listing Image <br/>
                    <img src="<%=originalImageUrl%> "/>
                </div>
                <div class="mb-3">
                 <lable  for="listing[image][url]" type="file" class="form-label">Image url:</lable></br>
                 <input name="listing[image][url]" type="file" class="form-control"/>
                 <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a title.</div>
                </div>
                <div class="mb-3 col-md-4">
                    <lable id="price" for="price" class="form-label">price:</lable>
                    <input name="listing[price]" type="number" class="form-control" value="<%=listings.price%>" required/>
                    <div class="valid-feedback">Looks good!</div>
                   <div class="invalid-feedback">Please provide a title.</div>
                </div>

                <div class="row">
                <div class="mb-3 col-md-4">
                    <lable id="location" for="location" class="form-label">location:</lable>
                    <input name="listing[location]" type="text" value="<%= listings.location %>" class="form-control" required />
                    <div class="valid-feedback">Looks good!</div>
                   <div class="invalid-feedback">Please provide a title.</div>
                </div>

                <div class="mb-3 col-md-8">
                    <lable id="country" for="country" class="form-label">country:</lable>
                    <input name="listing[country]" type="text"value=<%= listings.country%> class="form-control" required />
                    <div class="valid-feedback">Looks good!</div>
                   <div class="invalid-feedback">Please provide a title.</div>
                </div>

                </div>
                <button class="btn btn-dark Edit-btn mt-2">Submit!</button>
            </form>
       </div>
    </div>
